
<div class="ct-zz"></div>
<footer class="container-ft">
  <div class="wrapper">
    <ul class="column">
      <li class="column-title">Clinic Bio</li>
      <li><%= footer[0].bio_paragraph_1 %></li>
      <% if(footer[0].bio_paragraph_2 != null){ %>
      <li><%= footer[0].bio_paragraph_2 %></li>
      <% } %>
    </ul>

    <ul class="column">
      <li class="column-title">Schedule</li>
      <% if(footer[0].Monday != null){ %>
      <li><%= footer[0].Monday %></li>
      <% } %>
      <% if(footer[0].Tuesday != null){ %>
      <li><%= footer[0].Tuesday %></li>
      <% } %>
      <% if(footer[0].Wednesday != null){ %>
      <li><%= footer[0].Wednesday %></li>
      <% } %>
      <% if(footer[0].Thursday != null){ %>
      <li><%= footer[0].Thursday %></li>
      <% } %>
      <% if(footer[0].Friday != null){ %>
      <li><%= footer[0].Friday %></li>
      <% } %>
      <% if(footer[0].Saturday != null){ %>
      <li><%= footer[0].Saturday %></li>
      <% } %>
      <% if(footer[0].Sunday != null){ %>
      <li><%= footer[0].Sunday %></li>
      <% } %>
    </ul>

    <ul class="column">
      <li class="column-title">Contact</li>
      <% if(footer[0].adress != null){ %>
      <li><%= footer[0].adress %></li>
      <% } %>
      <% if(footer[0].email != null){ %>
      <li><%= footer[0].email %></li>
      <% } %>
      <% if(footer[0].mobile != null){ %>
      <li><%= footer[0].mobile %></li>
      <% } %>
    </ul>

    <ul class="column">
      <li class="column-title">Social Media</li>
      <% if(footer[0].facebook_link != null) { %>
      <li><%= footer[0].facebook_link %></li>
      <% } %>
      <% if(footer[0].instagram_link != null) { %>
      <li><%= footer[0].instagram_link %></li>
      <% } %>
    </ul>
  </div>
  <hr class="separator-footer">
  <div class="copyright">
    <div class="cr">
      <p class="company-cr">Dental Glow, Copyright &copy; 2017</p>
      <p class="made-by">Made by <a class="made-by-ref" href="https://github.com/Marius2m"> Marius Mircea </a></p>
    </div>
  </div>

</footer>

</body>
</html>
