<% include partials/header %>
<link rel="stylesheet" href="assets/css/index.css">

<div class="showcase">
      <div class="description">
        <% data.map(homepage => { %>
        <p class="title"> <%= data.descriptionTitle %> Professional Dental Clinic</p>
        <p>
            <%= homepage.description %>
        </p>
      </div>
</div>

<section>
	<div class="section-title">
		<%= homepage.firstSection %>
	</div>

	<div class="section-container">
    <%= homepage.firstSectionDescription %>
  </div>
</section>

<hr class="separator">

<section id="boxes">
  	<div class="section-title">
  		<p> <%= homepage.secondSectionTitle %></p>
  	</div>
    <div class="section-container">
      <%= homepage.secondSectionDescription %>
    </div>
  	<div class="container-box">
	    <div class="cardBox">
	      <div class="box implants">
	        <div class="b-front">
	          <img src="assets/img/DI.png">
	        </div>
	        <div class="b-back"> <a class="remove" href="/services">
	          Dental Implants </a>
	        </div>
	      </div>
	    </div>
	    <div class="cardBox">
	      <div class="box whitening">
	        <div class="b-front">
	          <img src="assets/img/TW.png">
	        </div>
	        <div class="b-back"> <a class="remove" href="/services">
	          Teeth Whitening </a>
	        </div>
	      </div>
	    </div>
	    <div class="cardBox">
	      <div class="box braces">
	        <div class="b-front">
	          <img src="assets/img/CB.png">
	        </div>
	        <div class="b-back"> <a class="remove" href="/services">
	          Clear Braces </a>
	        </div>
	      </div>
	    </div>
	    <div class="cardBox">
	      <div class="box treatment">
	        <div class="b-front">
	          <img src="assets/img/TT3.png">
	        </div>
	        <div class="b-back"> <a class="remove" href="/services">
	          Teeth Treatment </a>
	        </div>
	      </div>
	    </div>
	</div>
</section>
<hr class="separator">

<section class="gallery-section">
	<div class="section-title">
    <%= homepage.thirdSectionTitle %>
	</div>

	<div class="gallery-container">
    <% if(homepage.pic_1 !== null) { %>
		<img class="gallery" tabindex="1" src="assets/img/clinic-pictures/<%- homepage.pic_1 %>.jpg" />
    <% } %>
    <% if(homepage.pic_2 !== null) { %>
    <img class="gallery" tabindex="1" src="assets/img/clinic-pictures/<%- homepage.pic_2 %>.jpg" />
    <% } %>
    <% if(homepage.pic_3 !== null) { %>
    <img class="gallery" tabindex="1" src="assets/img/clinic-pictures/<%- homepage.pic_3 %>.jpg" />
    <% } %>
    <% if(homepage.pic_4 !== null) { %>
    <img class="gallery" tabindex="1" src="assets/img/clinic-pictures/<%- homepage.pic_4 %>.jpg" />
    <% } %>
    <% if(homepage.pic_5 !== null) { %>
    <img class="gallery" tabindex="1" src="assets/img/clinic-pictures/<%- homepage.pic_5 %>.jpg" />
    <% } %>
    <% if(homepage.pic_6 !== null) { %>
    <img class="gallery" tabindex="1" src="assets/img/clinic-pictures/<%- homepage.pic_6 %>.jpg" />
    <% } %>
    <% if(homepage.pic_7 !== null) { %>
    <img class="gallery" tabindex="1" src="assets/img/clinic-pictures/<%- homepage.pic_7 %>.jpg" />
    <% } %>
    <% if(homepage.pic_8 !== null) { %>
    <img class="gallery" tabindex="1" src="assets/img/clinic-pictures/<%- homepage.pic_8 %>.jpg" />
    <% } %>
    <% if(homepage.pic_9 !== null) { %>
    <img class="gallery" tabindex="1" src="assets/img/clinic-pictures/<%- homepage.pic_9 %>.jpg" />
    <% } %>

	</div>
</section>

<hr class="separator">

<div id="quote">
  <blockquote>
    <%= homepage.homepageQuote%>
  </blockquote>
</div>
<% }) %>


<% include partials/footer %>
