<% include partials/header %>
<link rel="stylesheet" href="assets/css/team.css">


<div class="background-image"></div>

<div class="container">
	<div class="container-title">
		Dental Glow Team
	</div>

	<div class="content">
		<div class="division">Doctors</div>
		<hr class="division-separator">
		<div class="team">
			<% data.map(staff => { %>
				<% if(staff.is_doctor) { %>
					<div class="staff">
						<img class="staff-img" src="assets/img/team/<%-staff.id%>.jpeg">
						<div class="staff-details">
							<div class="staff-name">
								<%= staff.first_name %> <%= staff.lsat_name %>
							</div>
							<div class="staff-role">
								<%= staff.position %>
							</div>
						</div>
					</div>
				<% } %>
			<% }) %>
		</div>
	</div>

	<div class="space"></div>

	<div class="content">
		<div class="division">Assitants</div>
		<hr class="division-separator">
		<div class="team">
			<% data.map(staff => { %>
				<% if(staff.is_assistent) { %>
					<div class="staff">
						<img class="staff-img" src="assets/img/team/<%-staff.id%>.jpeg">
						<div class="staff-details">
							<div class="staff-name">
								<%= staff.first_name %> <%= staff.lsat_name %>
							</div>
							<div class="staff-role">
								<%= staff.position %>
							</div>
						</div>
					</div>
				<% } %>
			<% }) %>
		</div>
	</div>
</div>

<hr class="separator">

<div id="quote">
  <blockquote>Life is short, so smile while you still have teeth!</blockquote>
</div>

<% include partials/footer %>
